<div class="container clearfix">
    <div class="main">
        <h1 id="main-title">REST API</h1>
        <h2>Items</h2>
        <div class="steps">
            <ul class="getting-started">
                <li>
                    <div class="sprite one"></div>
                    <div>
                        <h3>GET /api/v1/items</h3>
                        <p>
                            <pre><code>
[
    {
        name: "Foo",
        description: "Bar",
        price: 10,
        createdAt: "2013-12-05T22:54:05.222Z",
        updatedAt: "2013-12-05T22:54:05.222Z",
        id: "52a1040d5fae0f0000000002"
    }
]
                            </code></pre>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="sprite two"></div>
                    <div>
                        <h3>POST /api/v1/items</h3>
                    </div>
                </li>
                <li>
                    <div class="sprite three"></div>
                    <div>
                        <h3>PUT /api/v1/items</h3>
                    </div>
                </li>
                <li>
                    <div class="sprite four"></div>
                    <div>
                        <h3>DELETE /api/v1/items</h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
