<div class="container clearfix">
    <div class="main">
        <h1 id="main-title"><%= __('Welcome') %></h1>

        <div id="register-area">
            <h2>Register</h2>
            <p>Create a new account to access the website</p>

            <form action="api/v1/users/create" method="get" id="register" class="login-form">
                <p>Name: <input type="text" name="name" /></p>
                <p>Email: <input type="email" name="email" /></p>
                <p>Password: <input type="password" name="password" /></p>
                <p>Confirm password: <input type="password" name="password2" /></p>
                <p><input type="submit" value="Register" /></p>
            </form>
        </div>

        <h2>Login</h2>
        <p>Already have an account?</p>

        <form action="api/v1/users/login" method="get" id="login" class="login-form">
            <p>Email: <input type="email" name="email" /></p>
            <p>Password: <input type="password" name="password" /></p>
            <p><input type="submit" value="Login" /></p>
        </form>
    </div>
    <div class="side-bar">
        <h4>
            Features
        </h4>
        <ul>
            <li>
                Create collections of items
            </li>
            <li>
                Manage your favorite items
            </li>
            <li>
                Share your favorite items with your friends
            </li>
        </ul>
    </div>
</div>
<script>
    $("#login").submit(function(e){
        e.preventDefault();

        var email    = $("#login [name=email]").val();
        var password = $("#login [name=password]").val();

        if (email && password) {
            $.get(
                '/api/v1/users/login',
                {email: email, password: password},
                function () {
                    window.location = "/products";
                }
            ).fail(function(res){
                alert("Error: " + parseResult(res).error);
            });
        } else {
            alert("A username and password is required");
        }
    });

    $("#register").submit(function(e){
        e.preventDefault();

        var name      = $("#register [name=name]").val();
        var email     = $("#register [name=email]").val();
        var password  = $("#register [name=password]").val();
        var password2 = $("#register [name=password2]").val();

        if (name && email && password && password2) {
            if (password === password2) {
                $.get(
                    '/api/v1/users/create',
                    {name: name, email: email, password: password, password2: password},
                    function () {
                        alert("Thank you!");
                        $("#register")[0].reset();
                        $("#register-area").slideUp("slow");
                    }
                ).fail(function(res){
                    alert("Error: " + parseResult(res).error);
                });
            } else {
                alert("Passwords don't match");
            }
        } else {
            alert("A name, email and password are required");
        }
    });
</script>